* {
    padding: 0;
    margin: 0;

    /* 테두리를 포함한 모든 태그 요소들의 크기를 설정 */
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: black;
    background-color: aquamarine;
    background-image: url("./forest.jpg");
    background-size: cover;
    background-attachment: fixed;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0%;
        /* 투명 */
    }

    to {
        opacity: 100%;
        /* 불투명 */
    }
}

.container {
    display: block;
    text-align: center;
}

h1 {
    margin-bottom: 0px;
    font-size: 3em;
    color: green;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.calculator {
    display: inline-block;
    /*
        크기와 위치 변경 가능 -> block
        콘텐츠의 크기만 가짐 -> inline
    */
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 0.5em;
    margin-bottom: 1em;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    padding: 1em;
}

input {
    direction: ltr;
    background-color: white;
    width: 80vw;
    font-size: 2.5em;
    color: black;
    border: 2px solid black;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
}

table {
    margin: 0 auto;
}

button {
    background-color: gray;
    width: 20vw;
    height: 10vh;
    font-size: 2em;
    color: white;
    transition: box-shadow 0.3s ease, transform 0.2 ease;
    border: none;
    cursor: pointer;
}

button:active {
    transform: scale(0.90);
}

button:hover {
    transform: scale(0.95);
    background-color: black;
}